

<div class="container" fxFlex fxLayout="column">

  <div fxFlex fxLayout="row" style="margin-bottom: -50px;" fxLayoutAlign="space-between center">
    <p class="mat-display-1 mt-5">Vruchtgrootte</p>
    <mat-form-field>
      <mat-label>Year</mat-label>
      <mat-select [(value)]="selectedValue" (selectionChange)="reloadData($event)">
        <mat-option *ngFor="let y of years" [value]="y.value">
          {{y.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

<button mat-raised-button class="mb-2" (click)="reload()" color="accent">Reload</button>
<div class="flex">
  <div class="flex-item">
    <div style="display: block;">
    <canvas baseChart width="1500" height="1000"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"></canvas>
    </div>
  </div>
</div>
  <!-- <div class="flex-item">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
    <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
    <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
    <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
    <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>
  </div> -->
</div>