<p class="mat-display-1">Temperatuur Vochtigheid</p>
<button mat-raised-button (click)="reload()" color="accent">Reload</button>
<div class="flex">
  <div class="flex-item">
    <div style="display: block;">
    <canvas baseChart width="1500" height="1000"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>