 <div fxFlex fxLayout="column" class="container-fluid">

  <mat-form-field class="mt-3">
    <mat-label>Year</mat-label>
    <mat-select [(value)]="selectedYear" (selectionChange)="reloadData($event)">
      <mat-option *ngFor="let y of years" [value]="y.value" >
        {{y.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <button mat-raised-button (click)="reload()" color="accent">Reload</button> -->
  <div class="row mt-5">
    <div class="col-lg-4 col-md-12">
      <p class="mat-headline">Vruchtgrootte</p>
      <div>
        <canvas baseChart width="750" [datasets]="vruchtgrootteData" [labels]="vruchtgrootteLabels"
          [options]="vruchtgrootteOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
          [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <p class="mat-headline">Vruchtgroei </p>
      <div>
        <canvas baseChart width="750" [datasets]="vruchtgroeiData" [labels]="vruchtgroeiLabels"
          [options]="vruchtgroeiOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
          [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <p class="mat-headline">Temperatuur Vochtigheid</p>
      <div>
        <canvas baseChart width="750" [datasets]="tempvochtData" [labels]="tempvochtLabels" [options]="tempvochtOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins"></canvas>
      </div>
    </div>
  </div>
</div>


 <!-- <div class="container">
    <div class="row">
      <div class="col-sm">
        <div>
          <p class="mat-headline">Vruchtgroei </p>
          <div>
            <canvas baseChart width="750" [datasets]="vruchtgroeiData" [labels]="vruchtgroeiLabels"
              [options]="vruchtgroeiOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
          </div>

        </div>
      </div>
      <div class="col-sm">
        <div>
          <p class="mat-headline">Vruchtgrootte</p>
          <div>
            <canvas baseChart width="750" [datasets]="vruchtgrootteData" [labels]="vruchtgrootteLabels"
              [options]="vruchtgrootteOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>

          </div>
        </div>
      </div>
      <div class="col-sm">
        <div>
          <p class="mat-headline">Vruchtgrootte</p>
          <div>
            <canvas baseChart width="750" [datasets]="vruchtgrootteData" [labels]="vruchtgrootteLabels"
              [options]="vruchtgrootteOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>

          </div>
        </div>
      </div>
    </div>
  </div> -->
