@import '~@angular/material/theming'; //imports we need to set our custom style

@include mat-core(); //includes the common styles for Angular Material

$light-primary: mat-palette($mat-blue-grey,500);
$light-accent:  mat-palette($mat-red, 600);
$light-theme:   mat-light-theme($light-primary, $light-accent);
body {
  @include angular-material-theme($light-theme);
}
